{
  "project_info": {
    "project_number": "123456789000",
    "project_id": "das-verb",
    "storage_bucket": "das-verb.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789000:android:exampleappid",
        "android_client_info": {
          "package_name": "com.yarm.apps.dasverb"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyExampleKeyPlaceholder"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
